<!DOCTYPE html>
<html lang='es'>

    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link
        href='https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Work+Sans:wght@300;400;600&display=swap'
        rel='stylesheet'
        />
        <link rel="stylesheet", type="text/css" href="css/style.css">
        <title>Notificacion</title>
    </head>
    <body style="font-family: 'Work Sans', sans-serif;">
        <table
        style='max-width: 600px; padding: 20px; margin:0 auto; border-collapse: collapse;'
        >
        <tr>
            <td>

            <img src='https://apps.coopsana.co/imagenes/notificaciones/header.png' alt='' />

            </td>
        </tr>

        <tr>
            <td style='text-align: center;'>
            <p
                style='margin-top: 2rem; margin-bottom: 1rem; font-weight: 600; font-size: 24px;'
            >
              Gestión Clínica
            </p>
            </td>
        </tr>

        <tr>
            <td style='text-align: justify;'>
            <p
                style='margin-top: 1rem; margin-bottom: 1rem; padding: 1rem; font-weight: 300; font-size: 16px; line-height: 20px ;'
            >
                {}
            </p>
            </td>
        </tr>
        <div class="contenedor-tabla" style="margin: 0 auto; width: 90%;">
      
        </div>
        <tr>
            <td style='text-align: center;'>
            <p
                style='margin-top: 2rem; margin-bottom: 1rem; font-weight: 300; font-size: 16px;'
            >
                Este mensaje se genera automaticamente, por favor no lo responda.
            </p>
            </td>
        </tr>

        <tr style='text-align: center'>
            <td
            style='text-align: center; min-height: 179px; background-size: cover;'
            background='https://apps.coopsana.co/imagenes/notificaciones/footer.png'
            >
            <table style='text-align: center; margin: 0 auto; padding-top: 80px'>
                <tr>
                <td>
                    <a
                    style='
                        text-decoration: none;
                        color: white;
                        font-weight: 400;
                        font-size: 18px;
                    '
                    href='https://coopsana.com.co/'
                    target='_blank'
                    >coopsana.com.co
                    </a>
                </td>
                <td style='text-align: initial !important;'>
                    <a
                    href='https://www.instagram.com/coopsanaips/'
                    style='text-decoration: none; color: white'
                    ><img src='https://apps.coopsana.co/imagenes/notificaciones/instagram.png' alt='' />
                    </a>

                    <a
                    href='https://www.youtube.com/channel/UCBpRB_j386mhReSdZonlg6Q?themeRefresh=1'
                    style='
                        top: 50%;
                        left: 401px;
                        transform: translate(-50%, -50%);
                        text-decoration: none;
                        color: white;
                    '
                    ><img src='https://apps.coopsana.co/imagenes/notificaciones/youtube.png' alt='' />
                    </a>

                    <a
                    href='https://www.facebook.com/Coopsanaips/'
                    style='
                        top: 50%;
                        left: 436px;
                        transform: translate(-50%, -50%);
                        text-decoration: none;
                        color: white;
                    '
                    ><img src='https://apps.coopsana.co/imagenes/notificaciones/facebook.png' alt='' />
                    </a>
                </td>
                </tr>
                <tr>
                <td colspan='2'>
                    <p
                    style='
                        top: 60%;
                        left: 125px;
                        color: white;
                        font-weight: 400;
                        font-size: 16px;
                    '
                    >
                    ® Información & Analitica - Coopsana, Medellin 2024
                    </p>
                </td>
                </tr>
            </table>
            </td>
        </tr>

        </table>

    </body>

    </html>
